.Signup {
   height: calc(100vh - 57px);
}

.Signup_Left {
   background: linear-gradient(90deg, var(--gradient-from), var(--gradient-to));
}

.Signup_Bg {
   width: 320px;
   height: auto;
}

.Signup_Left p {
   font-size: 42px;
}

/* ========== */
/* For Mobile */
/* ========== */
@media (max-width: 480px) {
   .Signup_Left {
      display: none;
   }

   .Signup_Right {
      width: 100%;
   }
}
