.Signin {
   height: calc(100vh - 57px);
}

.Signin_Right {
   background: linear-gradient(90deg, var(--gradient-to), var(--gradient-from));
}

.Signin_Right p {
   font-size: 42px;
}

/* Facebook login Button */
.FB_Login_Btn,
.FB_Login_Btn:focus {
   font: 400 16px var(--font-family);
   color: #3b5998;
   background-color: white;
   margin-top: 10px;
   padding: 7px 30px;
   border: 1px solid #3b5998;
   border-radius: 20px;
   box-shadow: 2px 2px 6px #000000c9;
   outline: none;
   transition: all 0.3s;
}

.FB_Login_Btn:hover,
.FB_Login_Btn:active {
   outline: none;
   color: white;
   background-color: #3b5998;
   box-shadow: 2px 2px 6px #000000c9, 1px 1px 4px #999 inset;
}

/* ========== */
/* For Mobile */
/* ========== */
@media (max-width: 480px) {
   .Signin_Left {
      width: 100%;
   }
   .Signin_Right {
      display: none;
   }
}
