/* Choice Button */
.CreateRoom__Choice {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
   cursor: pointer;
}

.CreateRoom__Choice button {
   text-align: center;
   width: 100px;
   margin: 0 10px;
   font-size: 17px;
   font-weight: bold;
   color: var(--primary);
   border-radius: 4px;
   transition: all 0.4s;
}

.CreateRoom__Choice button:hover,
.CreateRoom__Choice button.active {
   color: white;
   background: linear-gradient(
      to right,
      var(--gradient-from),
      var(--gradient-to)
   );
   box-shadow: 1px 1px 8px var(--primary);
}

/* Title */
.CreateRoom__Title {
   font: 700 24px/30px var(--font-family);
   margin-bottom: 5px;
   letter-spacing: 0.5px;
}

/* Input Group */
.CreateRoom__InputGroup {
   margin-bottom: 16px;
   letter-spacing: 0.5px;
}

.CreateRoom__InputGroup label {
   font-weight: 600;
}

.CreateRoom__InputGroup input {
   width: 340px;
   outline: none;
   padding: 4px 10px 0px 0;
   font: 400 17px var(--font-family);
   letter-spacing: 0.5px;
   border-bottom: 1px solid #aaa;
   transition: all 0.3s;
}

.CreateRoom__InputGroup input:hover,
.CreateRoom__InputGroup input:focus {
   border-bottom-color: #333;
}

/* File Input */
.CreateRoom__InputGroup input[type="file"] {
   width: 100%;
   border: none;
}

/* Button Group */
.CreateRoom__BtnGroup button {
   margin-left: 20px;
   outline: none;
   border: none;
   font-size: 16px;
   font-weight: bold;
   transition: all 0.3s;
}

.CreateRoom__BtnGroup button:first-of-type {
   color: #d61d1d;
}

.CreateRoom__BtnGroup button:last-of-type {
   color: var(--primary);
}

/* ========== */
/* For Mobile */
/* ========== */
@media (max-width: 480px) {
   /* Choice Button */
   .CreateRoom__Choice {
      margin-bottom: 5px;
   }

   .CreateRoom__Choice button {
      margin: 0 5px;
      font-size: 16px;
   }

   /* Title */
   .CreateRoom__Title {
      font: 700 22px/26px var(--font-family);
      margin-bottom: 5px;
   }

   /* Input Group */
   .CreateRoom__InputGroup {
      margin-bottom: 12px;
   }

   .CreateRoom__InputGroup label {
      font-weight: 400;
   }

   .CreateRoom__InputGroup input {
      width: 280px;
      padding: 4px 10px 0px 0;
      font: 400 16px var(--font-family);
   }

   /* Button Group */
   .CreateRoom__BtnGroup button {
      margin-left: 15px;
   }
}
