.SideDraw {
   width: 250px;
   height: 100vh;
   position: fixed;
   right: 0;
   z-index: 1000;
   background-color: #fff;
   transition: all 0.3s ease-in-out;
}

/* SideDraw Body */
.SideDraw__Body {
   width: 100%;
}

/* Avatar */
.SideDraw__Body__Avatar {
   width: 80px;
   height: 80px;
   margin: 10px 0;
}

.SideDraw__Body__Avatar img {
   width: 100%;
   height: 100%;
   cursor: pointer;
   border-radius: 50%;
}

/* SideDraw Nav */
.SideDraw__Nav li {
   margin: 0 0 10px 0;
}

.SideDraw__Nav li a:link,
.SideDraw__Nav li a:visited,
.SideDraw__Nav__Logout {
   font: 400 20px/26px var(--font-family);
   letter-spacing: 0.5px;
}

.SideDraw__Nav li a:hover,
.SideDraw__Nav li a:active,
.SideDraw__Nav li a.active {
   color: var(--primary);
}
